body {
  padding-top: 25px;
}

main {
  padding-top: 120px;
}

body .top-header {
  height: 400px;
  width: 100%;
  background-color: darkgoldenrod;
  background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");
  margin-top: 120px;
  margin-left: 10px;
}

header .img-header {
  display: flex;
  justify-content: center;
  border: 10px;
}

header .name-header {
  display: flex;
  justify-content: center;
}
/* Resposnive handle for the header */
@media screen and (max-width: 804px) {
 
  body .top-header  {
    flex-direction:1 column;
    background-color: darkgoldenrod;
    background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");
    margin-top: 95px;
    margin-left: 0px;
  }
}



/* Resposnive handle for the header */
@media only screen and (min-width: 1024px) {
  body .top-header {
    width: 30%;
    float: left;
  }
  
}


