#nav-bar {
  background-color: #4056A1;
  height: 120px;
  align-items: center;
  color:white;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
}


/* Tweeter Header styler */

.header {
  font-family: 'Bungee', cursive;
  margin-left: 1.5em;
  margin-top: 1.5em;
  float: left;
  display: flex;
  justify-content: flex-start;
}

.newTweet {
  font-family: 'Source Sans Pro';
  margin-right: 1.5em;
  margin-top: 1.5em;
  float: right;
  display: flex;
  justify-content: flex-end;
}



/*Down  Arrow image on the header */
.arrow {
  margin-top: 3.5em;
  margin-right: -4.5em;
  color: red;
  float: right;
}


