.compose-box {
  width: 100%;
  /* text-align: center; */
  background-color: #f4f1ec;
  border: none;
  border-bottom: 4px solid darkgray;
}

.compose-box:focus {
  outline: none;
}


/* Footer div */
.footer {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", cursive;
}

/* Tweeter button */
.btn {
  background-color: #4056a1;
  color: #e8fdff;
}

.tweet {
  border: 4px solid;
  opacity: 0.5;

  margin: 10px;
  /* border-bottom-width: 4px */
}

.tweet-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 25px;
  font-style: bold;
  /* border: 1px solid grey; */
  height: 80px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}


.tweet-subheader {
  display: flex;
  justify-content: start;
  align-items: center;
}

.handle {
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 15px;
  color: darkgrey;
  opacity: 0;
}

.tweet:hover .handle {
  /*show handle when hovering over tweet*/
  opacity: 0.8;
}

.text-tweet {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.time-stamp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  border-top: 1px solid grey;
  margin: 10px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.icon {
  display: flex;
  justify-content: end;
  font-weight: bold;
}

.tweet:hover {
  opacity: 1;
  box-shadow: 10px 10px lightsteelblue;
}

/* .tweet:hover .handle {
  visibility: visible;
} */
